* {
	font-family: 'Gotham', sans-serif;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: white;
}

@font-face {
	font-family: Gotham-Medium;
	src: url(../Gotham-Medium.otf);
}

@font-face {
	font-family: Gotham-Light;
	src: url(../Gotham-Light.otf);
}

#menu {
	background-color: black;
	opacity: 70%;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	display: block;
}

#menu > ul {
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	padding: 2em;
}

#menu > ul > li {
	list-style: none;
}

#menu > ul > li > a {
	text-decoration: none;
	color: white;
	font-family: Gotham-Light;
}

#menu > ul > li > a:hover {
	text-decoration: none;
	color: white;
	font-size: 1.3em;
}

#menu > ul > li > a > img {
	width: 2.8%;
	margin: auto;
	position: absolute;
}

#menu > ul > li > p {
	color: white;
	font-family: Gotham-Medium;
}

#detalles {
	padding: 3em;
	text-align: center;
}

#foto > img {
	width: 300px;
	height: 300px;
	object-fit: contain;
}

#seccion {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#textos {
	display: flex;
	flex-direction: row;
}

#texto {
	text-align: justify;
	margin-top: 3rem;
}

#texto > p {
	margin: auto;
	text-align: justify;
	line-height: 1.8em;
	color: dimgrey;
}

#texto > h1 {
	margin: auto;
	text-align: justify;
	font-size: 4em;
	background: linear-gradient(to bottom right, darkblue, red);
	-webkit-background-clip: text;
	color: transparent;
}

#texto > h2 {
	font-size: 2em;
	margin: auto;
	text-align: justify;
	color: dimgrey;
}

#texto > h3 {
	margin: auto;
	text-align: justify;
	color: dimgrey;
	margin-bottom: 5%;
	font-size: 1.5em;
	opacity: 50%;
	margin-top: 1%;
}

#texto > button {
	border: none;
	border-radius: 12px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
	padding: 1.5em;
	background-color: white;
	text-align: justify;
	margin-top: 5%;
}

#texto > button:hover {
	border: none;
	border-radius: 12px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
	padding: 1.5em;
	background: linear-gradient(to bottom right, darkblue, red);
}

#texto > button > a {
	text-decoration: none;
}

#texto > button > a > p:hover {
	text-decoration: none;
	color: white;
}

#texto > button > a > p {
	color: dimgrey;
}

#titulillo > h2 {
	color: dimgrey;
	font-family: Gotham-Medium;
	margin-top: 10%;
}

#info {
	line-height: 2em;
	margin-top: 2%;
	font-family: Gotham-Light;
	margin-bottom: 10%;
}

#footer {
	background-color: dimgrey;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
}

#footer > ul {
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	padding: 2em;
}

#footer > ul > li {
	list-style: none;
}

#footer > ul > li > a {
	text-decoration: none;
	color: white;
	font-size: 0.75em;
	font-family: Gotham-Medium;
}

#footer > ul > li > p {
	text-decoration: none;
	color: white;
	font-size: 0.75em;
	font-family: Gotham-Medium;
}

#footer2 {
	background-color: dimgrey;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
}

#footer2 > ul {
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	padding: 2em;
	margin-right: 40%;
	margin-left: 40%;
}

#footer2 > ul > li {
	list-style: none;
}

#footer2 > ul > li > a {
	text-decoration: none;
	color: white;
	font-size: 0.6em;
	font-family: Gotham-Light;
}

#footer2 > ul > li > p {
	text-decoration: none;
	color: white;
	font-size: 0.6em;
	font-family: Gotham-Light;
}

@media screen and (max-width: 320px) {
	body {
		width: 243%;
		max-width: 800px;
	}

	header > h4 {
		font-size: 1.5em;
	}

	body > header {
		height: 80.8em;
	}

	#intro {
		margin: auto;
		text-align: center;
	}

	#foto > img {
		text-align: center;
		margin: auto;
		width: 50vh;
	}

	#foto {
		margin: auto;
		text-align: center;
	}

	#texto {
		margin: auto;
		text-align: center;
	}

	#texto > h1 {
		margin: auto;
		text-align: center;
	}

	#texto > h2 {
		margin: auto;
		text-align: center;
		margin-bottom: 5%;
	}

	#texto > h3 {
		margin: auto;
		text-align: center;
		margin-bottom: 5%;
	}

	#texto > p {
		margin: auto;
		text-align: justify;
		margin-right: 5%;
		margin-left: 5%;
	}

	#info {
		text-align: center;
		margin: auto;
		margin-bottom: 10%;
	}

	#titulillo {
		text-align: center;
		margin: auto;
	}

	#titulillo > h2 {
		margin-bottom: 10%;
		margin-top: 10%;
	}

	#textos {
		display: flex;
		position: absolute;
	}

	#seccion {
		display: flex;
		flex-direction: column;
	}

	#footer2 > ul {
		font-weight: bold;
		display: flex;
		justify-content: space-around;
		padding: 2em;
		margin-right: 10%;
		margin-left: 10%;
	}

	#texto > button {
		margin: auto;
		text-align: center;
		margin-top: 10%;
	}
}
